.countryBody {
  background-color: #f9f8f3;
  padding-bottom: 18.0625rem;
}
.tab {
  display: flex;
  justify-content: center;
  width: 1202px;
  margin-left: 350px;
  background-color: #ffffff;
  border-radius: 5px;
  outline: #dee1e7 solid 0.8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.dailyTour {
  margin-top:0px;
  width: 100%;
  max-width: 1200px;
  /* height: calc(100vh - -50px);  */
  margin-left: auto;
  margin-right: auto;
  outline: #dee1e7 solid 0.8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #ffffff;
}

.dailyTourLine {
  border-bottom: 1px solid #ffb534;
  width: 50px;
  margin: 15px auto;
}

.dailyTourH5 {
  text-align: center;
  padding: 5px;
}

.dailyTourH5H5 {
  font-size: 22px;
}

.dailyTourDays {
  background-color: #2a3040;
  width: 250px;
  height: 78px;
  color: white;
  font-family: 'Noto Serif Georgian', serif;
  font-size: 36px;
  text-align: center;
  display: flex;
  align-items: center;
  outline: #dee1e7 solid 0.8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px;
  justify-content: center;
}

.dailyTourRoute {
  height: 78px;
  background-color: #535b70;
  color: white;
  font-size: 20px;
  letter-spacing: 0.4px;
  text-align: justify;
  display: flex;
  align-items: center;
  padding: 20px;
  outline: #dee1e7 solid 0.8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px;
}
.dailyTourGray {
  display: flex;
  margin: 0 60px;
  width: 67.5rem;
}

.dailyTourRoute {
  flex: 1;
}
.dailyTourText {
  display: block;
  width: 1080px;
  margin-top: 15px;
  margin-left: 70px;
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

.chargeBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 12.0625rem;
  margin: 20px 50px;
  max-width: 1080px;
  background-color: #f9f8f3;
  border-radius: 5px;
  outline: #dee1e7 solid 0.8px;
}

.chargeBox > div {
  flex-grow: 1;
  margin-left: 80px;
  height: 136px;
  max-width: calc(50% - 20px);
}

.chargeBox > div > span {
  display: flex;
}

.chargeBox > div p {
  color: #2a3040;
  margin: 5px 0px;
  text-align: left;
  font-size: 16px;
}

.dailyTourPicItem {
  display: flex;
  margin-top: 40px;
  margin-left: 60px;
}

.dailyTourItem {
  text-align: center;
  margin-right: 30px;
}

.dailyTourItem2 {
  text-align: center;
}

.daily-tour-item p {
  max-width: 340px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dailyTourPic {
  height: 230px;
  width: 340px;
  margin-bottom: 5px;
}

.dailyTourPic2 {
  height: 280px;
  width: 510px;
  margin-right: 50px;
  margin-bottom: 5px;
}
.chargeBoxBed {
  color: #2a3040;
}
/* itinerary_sign_up 區塊-平板 */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .countryBody {
    background-color: #f9f8f3;
  }
  .tab {
    display: flex;
    justify-content: flex-start;
    width: 95%;
    margin-left: 17px;
    border-radius: 5px;
    outline: #dee1e7 solid 0.8px;
  }
  .dailyTour {
    width: 95%;
    height: auto;
    padding-bottom: 50px;
  }
  .groupContainer {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .groupItinerary {
    margin-top: 20px;
    width: 690px;
  }
  .groupTitle {
    width: 690px;
  }
  .groupIntroduce {
    margin-top: 10px;
  }
  .groupDeparture {
    width: auto;
    margin-top: 20px;
    margin-right: 10px;
  }
  .signUpPic {
    width: 420px;
    height: 350px;
  }
  .dailyTourGray {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }
  .dailyTourDays {
    height: 70px;
    width: 650px;
  }
  .dailyTourRoute {
    height: auto;
    width: 650px;
  }

  .dailyTourText {
    width: 645px;
    margin-left: 45px;
    letter-spacing: 1px;
    text-align: justify;
  }
  .dailyTourPicItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .dailyTourItem {
    margin-right: 0;
    margin-bottom: 0;
  }

  .dailyTourPic {
    width: 400px;
    height: 250px;
    margin-right: 55px;
    margin-bottom: 10px;
  }

  .dailyTourPic2 {
    width: 500px;
    height: 350px;
    margin-bottom: 10px;
  }

  .dailyTourItem p {
    margin-top: 5px;
    margin-right: 50px;
  }
  .chargeBoxBed {
    width: 9.0625rem;
    color: #2a3040;
  }
  .chargeBox {
    width: 40rem;
    height: 16rem;
    margin-left: 45px;
  }
  .chargeBox > div p {
    font-size: 18px;
  }
  .TourP {
    margin-right: 40px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1700px) {
  .tab {
    position: relative; 
    left: 50%; 
    transform: translateX(-50%); 
    margin-left: 0;
  }
}
/* itinerary_sign_up 區塊-手機 */
@media only screen and (max-width: 767px) {
  .SignUpMain {
    height: auto;
  }
  .countryBody {
    background-color: #f9f8f3;
    height: auto;
    padding-bottom: 240px;
  }
  .tab {
    display: flex;
    justify-content: flex-start;
    width: 95%;
    height: auto;
    margin-left: 10px;
    font-size: 12px;
    border-radius: 5px;
    outline: #dee1e7 solid 0.8px;
  }
  .groupContainer {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .groupItinerary {
    width: 355px;
    height: 400px;
    margin-top: 20px;
  }
  .groupTitle {
    width: 100%;
  }
  .groupIntroduce {
    width: 90%;
  }
  .signUpPic {
    width: 70%;
    height: 215px;
  }
  .groupDeparture {
    width: 355px;
    margin-right: 10px;
    margin-top: 10px;
  }
  .table-responsive {
    width: 350px;
    margin-left: -50px;
  }

  .DateCell {
    width: 60px;
    height: 170px;
    font-size: 16px;
  }

  .btn {
    font-size: 14px;
  }

  .dailyTour {
    width: 95%;
    height: auto;
  }

  .dailyTourDays {
    width: 340px;
    font-size: 25px;
    height: 40px;
  }
  .dailyTourRoute {
    width: 340px;
    font-size: 14px;
  }
  .dailyTourGray {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .dailyTourText {
    font-size: 15px;
    width: 330px;
    letter-spacing: 1px;
    word-wrap: break-word;
    border-radius: 3px;
    margin-left: 27px;
  }

  .chargeBox {
    width: 330px;
    /* height: 12.5rem; */
    margin-left: 25px;
    font-size: 15px;
  }

  .chargeBox img {
    width: auto;
    max-height: 100%;
    object-fit: contain;
  }
  .dailyTourPicItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 60px;
  }

  .dailyTourItem {
    text-align: center;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .dailyTourItem p {
    margin-top: 10px;
  }
  .dailyTourItem2 p {
    margin-left: 0;
    margin-top: 5px;
  }

  .chargeBox .col-md-6 {
    margin-top: 20px;
  }
  .dailyTourPic {
    height: 12.5rem;
  }
  .dailyTourPic2 {
    width: 15.6875rem;
    height: 11rem;
  }
  .chargeBox > div {
    margin-left: 0;
    margin: 15px;
    margin-right: 0;
  }
  .chargeBoxBed {
    width: 9rem;
  }
  .chargeBox > div p {
    font-size: 14px;
  }
}