.title {
  color: white;
  margin: 1rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.title h1 {
  margin: 0;
}

.memberMain {
  min-height: 100vh;
  padding: 2rem 0;
  display: flex;
  background-color: white;
  justify-content: center;

  background: linear-gradient(
      0deg,
      rgba(11, 21, 48, 0.51) 0%,
      rgba(11, 21, 48, 0.51) 100%
    ),
    url(../../public/images/tes.jpg) lightgray 50% / cover no-repeat;
}

@media only screen and (max-width: 576px) {
  .memberContainer {
    padding: 0;
    width: 100%;
    /* height: 100vh; */
  }
}

.memberContainer {
  width: 100%;
  height: auto;
  display: flex;
}
@media only screen and (max-width: 576px) {
  .memberContainer {
    padding: 0;
    width: 100%;
  }
}

.header-social-area {
  justify-content: right;
}

.memberContainer {
  justify-content: center;
}

.memberBox {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 10rem 0 5rem 0;
}

.memberBox h4,
.memberBox h2 {
  width: 100%;
  color: white;
  text-align: center;
  margin: 0;
}

@media only screen and (max-width: 991px) {
  .memberBox {
    padding: 0;
    width: 100%;
    flex-direction: column;
  }

  .leftBox {
    height: 30%;
  }
}
/*leftBox Start*/
.leftBox {
  height: 100%;
  width: 30%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
}

.divider {
  height: 70%;
  border: 1px solid white;
}

@media only screen and (max-width: 991px) {
  .leftBox {
    height: 30%;
    background-color: transparent;
  }
}
.member {
  height: 100%;
}

.memberActionList {
  width: 80%;
  height: 60%;
  display: flex;
  margin: 1rem;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 991px) {
  .memberActionList {
    width: 100%;
    height: auto;
  }
}

.memberActionItem {
  width: 100%;
  height: 20%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
  border: 1px solid var(--info-color);

  background-color: rgba(240, 248, 255, 0.18);
}

.memberActionItem,
.memberActionItem:focus {
  position: relative;
  min-width: 200px;
  background: transparent;
  color: white;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: inherit;
  padding: 10px 20px;
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(225, 51, 45, 0);
  outline: 1px solid !important;
  outline-color: rgba(225, 51, 45, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.memberActionItem:hover {
  color: white;
  border: 1px solid;
  box-shadow: inset 0 0 20px rgb(255, 255, 255, 0.65),
    0 0 20px rgba(225, 51, 45, 0.2);
  outline: 1px solid !important;
  outline-color: rgba(225, 51, 45, 0) !important;
  outline-offset: 15px;
  text-shadow: 1px 1px 2px var(--info-color);
}

@media only screen and (max-width: 991px) {
  .memberActionItem,
  .memberActionItem:focus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    min-height: 5rem;
    margin: 0 1rem;
    padding: 0.8rem;
    border-radius: 0.3rem;
  }
}
@media only screen and (max-width: 576px) {
  .memberActionItem,
  .memberActionItem:focus {
    min-height: 4.5rem;
    height: auto;
  }
}

.memberActionIcon {
  margin-right: 0.5rem;
}

.avatar {
  position: relative; /* 需要用于 layout="fill" */
  width: 100%; /* 宽度为容器的100% */
  padding-bottom: 100%; /* 高度与宽度相同，保持1:1比例 */
  border-radius: 50%;
  overflow: hidden;
}

.actionColumn {
  padding: 1.5rem;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.actionRow {
  flex-direction: row;
  display: none;
  padding: 1rem;
}

@media only screen and (max-width: 991px) {
  .actionColumn {
    display: none;
  }
  .actionRow {
    display: flex;
  }
  .memberActionItem {
    width: 6rem;
    height: 4.5rem;
    margin: 0 0.5rem;
  }
  .memberActionItem:last-child {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .actionRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .memberActionItem {
    width: 8rem;
    height: 4.5rem;
    margin: 0.8rem;
  }
}
@media only screen and (max-width: 391px) {
  .memberActionItem {
    width: 7rem;
    height: 4.5rem;
    margin: 0.5rem;
  }
}

/* leftBox End */

/* rightBox Start */

.rightBox {
  width: 70%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
}

@media only screen and (max-width: 991px) {
  .rightBox {
    width: 90%;
    height: 100%;
  }
}

.context {
  display: flex;
}

.offerInfo,
.orderInfo,
.itineraryInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  width: 100%;
  background-color: transparent;
}

.memberItem {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  height: 100%;
  background-color: transparent;
}

.memberItem p {
  color: #ffffff;
}

.imgContainer {

  width: 8rem; 
  height: 8rem;
  overflow: hidden; 
  position: relative; 
  margin:0.5rem; 
}

.imgContainer img {
  width: auto; 
  height: auto; 
  max-width: 15rem;
  max-height: 15rem;
  object-fit: cover; 
  object-position: center; 
  position: absolute; 
  
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.recommendLecture {
  width: 60%;
  
}

.textContainer {
  margin: 1rem;
  width: 50%;
}

.btnCountainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoBtn{
  width: 2.2rem;
  height: 2.2rem;
  border: 0;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.textContainer p {
  margin-bottom: 0.2rem;
}
.signInBtn {
  color:var(--info-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 2.2rem;
  border: 0;
  border-radius: 1rem;
  padding: 0.9rem;
}

.recommenItem {
  display: flex;
  padding: 0.5rem 1rem;
  height: 100%;
  background-color: transparent;
}

.remainPointsBox {
  width: 40%;
  height: 100%;
}

.memberItem h3,
.memberItem h5 {
  margin: 0;
  padding: 0;
}

.memberItem h5 {
  padding-bottom: 0.5rem;
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.memberItem h3 {
  color: white;
}

.iconBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background: var(--primary-color-25);
  border-radius: 50%;
  font-size: 2rem;
}

.remainPoints {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.remainPointsIcon {
  color: var(--primary-color);
  margin-right: 1rem;
}

@media only screen and (max-width: 576px) {
  .offerInfo {
    height: auto;
  }

  .remainPointsBox,
  .recommendLecture {
    height: 10rem;
    padding: 0.5rem;
    width: 50%;
  }

  .remainPointsBox .bottomBox {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .iconBorder {
    margin: 0.5rem 0;
  }
}

/* rightBox End */

/* profile Start */
.infoList {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.infoLeft,
.infoRight {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.passportName {
  display: flex;
}

.infoItem {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  height: 8rem;
  background-color: transparent;
}
.infoItem h5 {
  padding-bottom: 0.5rem;
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.infoItem p {
  color: white;
}

@media only screen and (max-width: 576px) {
  .infoList {
    flex-direction: column;
  }
  .infoItem {
    height: auto;
  }
  .infoLeft,
  .infoRight {
    width: 80%;
    height: auto;
  }

  .rightBox {
    height: auto;
  }
}

.editBtn {
  color: var(--primary-color);
}

.editBtn,
.editBtn:focus {
  position: relative;
  min-width: 200px;
  background: transparent;
  color: white;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: inherit;
  padding: 10px 20px;
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(225, 51, 45, 0);
  outline: 1px solid !important;
  outline-color: rgba(225, 51, 45, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.editBtn:hover {
  color: var(--primary-color);
  border: 1px solid;
  box-shadow: inset 0 0 20px rgb(255, 255, 255, 0.65),
    0 0 20px rgba(225, 51, 45, 0.2);
  outline: 1px solid !important;
  outline-color: rgba(225, 51, 45, 0) !important;
  outline-offset: 15px;
  text-shadow: 1px 1px 2px var(--info-color);
}

/* profile End */

/* editList Start */

.editList {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.editLeft,
.editRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 1rem;
}
.editList label {
  color: white;
}



.editItem {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 3.5rem;
  margin-bottom: 1.8rem;
  align-items: center;
  border-bottom: 1px solid white;
}
.editItem p {
  display: none;
}
.editInput {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  border-radius: 0;
  font-size: 14px;
  font-style: italic;
  color: #ffffff;
  background-color: transparent;
}

.editInput:focus {
  background-color: transparent;
  border: none;
  outline: none;
}

.editItem label {
  color: white;
  margin: 0;
  padding-right: 0.1rem;
  display: flex;
  align-items: center;
  height: 100%;
  width: 30%;
}

.warning,
.success,
.error {
  position: relative;
}

.error p,
.warning p,
.success p {
  font-style: italic;
  bottom: -2.7rem;
  left: 0;
  display: flex;
  position: absolute;
  font-size: 0.85rem;
  letter-spacing: 1px;
}

.error {
  border-bottom: 1px solid var(--danger-color);
}
.success {
  border-bottom: 1px solid var(--success-color);
}
.warning {
  border-bottom: 1px solid var(--warning-color);
}

.error p {
  color: var(--danger-color);
}
.warning p {
  color: var(--warning-color);
}
.success p {
  color: var(--success-color);
}
.star {
  color: var(--primary-color);
}

.editItem input {
  display: flex;
  /* justify-content: center; */
  width: 100%;
  height: 100%;
  padding: 0;
  letter-spacing: 0.1rem;
}
.editPassportName {
  display: flex;
}
.editItem label {
  width: 50%;
}

.interestSelect {
  padding: 5px;
  width: 70%;
  font-size: 16px;
  background-color: var(--primary-color-55);
  border: 0;
  color: white;
}
.interestSelect:focus {
  border: 0;
  box-shadow: 0;
}

.interestOption {
  background-color: #000;
  border: 0;
  color: white;
}
.react-datepicker-wrapper input{
  background-color: transparent;
}
/* editList End */
