.registerFormContainer {
  height: 100%;
  display: flex;
  background-attachment: fixed;
  background: linear-gradient(
      0deg,
      rgba(11, 21, 48, 0.2) 0%,
      rgba(11, 21, 48, 0.2) 100%
    ),
    url(../../public/images/forest.jpg) lightgray 30% / cover no-repeat;
}

@media only screen and (max-width: 1024px) {
  .registerFormContainer {
    flex-direction: column-reverse;
  }
}
.header-social-area {
  justify-content: right;
}

.registerFormContainer {
  display: flex;
  justify-content: center;
}

/*leftBox Start*/

.registerBox {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12rem 0;
}

.registerBox h5 {
  width: 100%;
  color: white;
  border-bottom: 2px white solid;
}

@media only screen and (max-width: 576px) {
  .registerBox {
    padding: 6rem 1rem;
  }
}

.registerForm {
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerTitle,
.thirdPartyLogin,
.registerForm {
  display: flex;
  width: 50%;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;
}
.registerTitle {
  padding: 2rem 0;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0.3px 0.7px rgba(0, 0, 0, 0.126),
    0 0.9px 1.7px rgba(0, 0, 0, 0.179), 0 1.8px 3.5px rgba(0, 0, 0, 0.224),
    0 3.7px 5.3px rgba(0, 0, 0, 0.277), 0 10px 20px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(7px);
  transition: 0.5s ease;
}

.registerTitle:hover{
  background-color: rgb(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
}

.registerTitle h2 {
  letter-spacing: 5px;
  color: white;
  margin: 0;
  cursor: pointer;
}

.group3 {
  background: linear-gradient(90deg, var(--primary-color), var(--primary-color));
  background-size: 0 100px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-clip: text;
  transition: .6s all linear;
}

.registerTitle:hover .group3 {
  background-size: 100% 100px;
  color: transparent;
}
@media only screen and (max-width: 1440px) {
  .registerForm,
  .thirdPartyLogin,
  .registerTitle {
    width: 75%;
  }
}
@media only screen and (max-width: 992px) {
  .registerForm,
  .thirdPartyLogin,
  .registerTitle {
    width: 85%;
  }
}
@media only screen and (max-width: 768px) {
  .registerForm,
  .thirdPartyLogin,
  .registerTitle {
    width: 90%;
  }
}
@media only screen and (max-width: 576px) {
  .registerForm,
  .thirdPartyLogin,
  .registerTitle {
    width: 85%;
  }
  .registerTitle {
    padding: 1.2rem 0;
  }
}

.thirdPartyLogin,
.registerForm {
  background-color: rgba(0, 0, 0, 0.55);
  padding: 1.2rem 1.2rem;
}

.registerItem {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 3.5rem;
  margin-bottom: 1.8rem;
  align-items: center;
  border-bottom: 1px solid white;
}
.registerItem p {
  display: none;
}

.eyeIcon {
  border: 0;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.3s;
}

.eyeIcon:hover {
  color: rgba(255, 255, 255, 1);
}

.eyeIcon:focus {
  outline: none;
}

.warning,
.success,
.error {
  position: relative;
}

.error p,
.warning p,
.success p {
  font-style: italic;
  bottom: -2.7rem;
  left: 0;
  display: flex;
  position: absolute;
  font-size: 0.85rem;
  letter-spacing: 1px;
}

.error {
  border-bottom: 1px solid var(--danger-color);
}
.success {
  border-bottom: 1px solid var(--success-color);
}
.warning {
  border-bottom: 1px solid var(--warning-color);
}

.error p {
  color: var(--danger-color);
}
.warning p {
  color: var(--warning-color);
}
.success p {
  color: var(--success-color);
}

.star {
  margin-left: 0.2rem;
  color: var(--primary-color);
}

.thirdPartyLogin .registerItem {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

/* loginBtn 動畫 start*/

.thirdPartyLoginBtn,
.thirdPartyLoginBtn:focus {
  position: relative;
  min-width: 200px;
  background: transparent;
  color: white;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: inherit;
  padding: 10px 20px;
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(225, 51, 45, 0);
  outline: 1px solid !important;
  outline-color: rgba(225, 51, 45, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.thirdPartyLoginBtn:hover {
  color: white;
  border: 1px solid;
  box-shadow: inset 0 0 20px rgb(255, 255, 255, 0.65),
    0 0 20px rgba(225, 51, 45, 0.2);
  outline: 1px solid !important;
  outline-color: rgba(225, 51, 45, 0) !important;
  outline-offset: 15px;
  text-shadow: 1px 1px 2px var(--info-color);
}
/* loginBtn  thirdPartyLoginBtn 動畫 end*/

.middleBox {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.leftBox,
.rightBox {
  width: 45%;
}

@media only screen and (max-width: 576px) {
  .middleBox {
    flex-direction: column;
  }
  .leftBox,
  .rightBox {
    width: 100%;
  }
}

.bottomBox {
  display: flex;
  width: 90%;
}

.bottomBox .registerItem {
  border: 0;
  display: flex;
  justify-content: flex-end;
}

.alreadyHave {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color-75);
}
.alreadyHave:hover {
  color: white;
}

.registerInput {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  border-radius: 0;
  font-size: 14px;
  font-style: italic;
  color: #ffffff;
  background-color: transparent;
}

.registerInput:focus {
  background-color: transparent;
  border: none;
  outline: none;
}

.registerItem label {
  color: white;
  margin: 0;
  padding-right: 0.1rem;
  display: flex;
  align-items: center;
  height: 100%;
  width: 30%;
}

.registerItem input {
  display: flex;

  height: 100%;
  padding: 0;
  letter-spacing: 0.1rem;
}

.interestSelect {
  padding: 5px;
  width: 70%;
  font-size: 16px;
  background-color: var(--primary-color-55);
  border: 0;
  color: white;
}
.interestSelect:focus {
  border: 0;
  box-shadow: 0;
}

.interestOption {
  background-color: #000;
  border: 0;
  color: white;
}

.checkMail,
.registerBtn {
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  font-size: 0.9rem;
  color: white;
  border-radius: 0;
  border: 0;
  background-color: var(--info-color-75);
}
.checkMail {
  color: white;
  width: 50%;
  background-color: var(--info-color-75);
}
.registerBtn {
  color: white;
  width: 100%;
  background-color: var(--primary-color-75);
}

.checkMail:hover {
  font-size: 0.9rem;
  border: 0;
  background-color: white;
  color: var(--info-color);
}
.registerBtn:hover {
  font-size: 0.9rem;
  border: 0;
  background-color: white;
  color: var(--primary-color);
}

.thirdPartyLogin .registerItem {
  width: 90%;
  display: flex;
  align-items: center;
}

.facebookIcon:hover {
  color: var(--facebook-blue);
}
.googleIcon:hover {
  color: var(--google-red);
}

.thirdPartyLoginBtn {
  color: white;
  display: flex;
  width: 45%;
  height: 2.5rem;
  padding: 0px 1rem;
  margin-right: 1.5rem;
  justify-content: space-around;
  align-items: center;
  border: 1px solid var(--white, #fff);
  background: rgba(0, 0, 0, 0);
  max-width: 10rem;
  min-width: none;
}

@media only screen and (max-width: 576px) {
  .thirdPartyLoginBtns {
    flex-direction: column;
    height: auto;
  }
  .thirdPartyLoginBtn {
    margin: 0.5rem;
    padding: 0.2rem;
  }
}

/* leftBox End */
